body {
    background-color: rgb(70, 150, 210) !important;
}

.container {
    background-color: rgb(70, 150, 210) !important;
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main_card {
    width: 25rem;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    align-items: center;
    padding-top: 12px;
}


.answer_button :hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.025);
}



.win_pic_wrapper {
    margin: 4px;
    display: flex;

}

.win_pic_right {
    transform: scaleX(-1);

    filter: brightness(75%) saturate(140%);
    width: 50%;
    height: auto;
}

.win_pic_left {

    width: 50%;
    height: auto;
}

.endscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

@media(max-width:540px) {

    .navbar {
        display: none;
    }

    .main_card {
        min-height: 100vh;
        width: 100%;
    }

    .container {
        margin: 0;
        padding: 0;
    }


}

@media(max-height: 999px){
    .question-footer { 
        margin-top: 96px;
    }

    .progress{
        margin-top: 28px !important;
        margin-bottom: 12px;
    }
    .card-title{
        margin-bottom: 32px;
    }
    .mb-2{margin-top:12px;}

    .card{font-size: 0.8rem;}
}


@media(max-height: 800px){
    .question-footer { 
        margin-top: 20px;
    }
    .card-title{
        margin-bottom: 4px;
    }
    .progress{
        margin-top: 6px !important;
        margin-bottom: 2px;
    }
    .mb-2{margin-top:0px;}
}