body {
    background-color: rgb(94, 145, 98) !important;
}

.container {
    background-color: rgb(94, 145, 98) !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main_card {
    width: 25rem;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.4);
    align-items: center;
    padding-top: 12px;
}